<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{styles/style.css}" rel="stylesheet">
<!--    <link rel="stylesheet" href="">-->
    <title>Create Account</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{registration/homepage}">
            <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a href="#" class="header__navigation-item">Marketplace</a>
            <a href="#" class="header__navigation-item">Chating</a>
            <a href="#" class="header__navigation-item">Cart</a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Profile</p>
                    <div class="header__links">
                        <a href="#" class="link">Profile</a>
                        <a th:href="@{/clients/logIn}" class="link">Sign In</a>
                        <a th:href="@{/clients/new}" class="link">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="create wrapper">
        <div class="create__title title">
            <p>Create account</p>
        </div>
        <div class="create__text text">
            <p>Welcome! Enter Your Details And Start Trade!</p>
        </div>
        <div class="create__form">
            <form th:method="POST" th:action="@{/clients/signUp}" th:object="${client}"
                  class="create__form-form form__input">
                <input th:field="*{name}" id="name" type="text" placeholder="Your name" class="form__name form__input">
                <input th:field="*{surname}" id="surname" type="text" placeholder="Your surname" class="form__surname form__input">
                <input id="birthDate" type="date" class="form__birthdate form__input">
                <input th:field="*{phoneNumber}" id="phone_number" type="tel" placeholder="+7 (XXX) XXX-XX-XX" class="form__number form__input">
                <input th:field="*{email}" id="email" type="email" placeholder="Your email" class="form__email form__input">
                <input th:field="*{password}" id="password" type="text" placeholder="Password" class="form__password form__input">
<!--                <input th:field="*{password}" id="password_confirm" type="text" placeholder="Password" class="form__password form__input">-->
                <button type="submit" class="form__button">
                    Create account
                </button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a th:href="@{registration/homepage}" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>NFT marketplace UI created with Anima for Figma.</nav>
                <nav>Join our community</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Explore</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Marketplace</a></p>
                <p><a href="#">Chating</a></p>
                <p><a href="#">Cart</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Join our weekly digest</p>
                </div>
                <p class="footer__text">
                    Get exclusive promotions & updates straight to your inbox.
                </p>
                <a href="create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Get Started</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>