<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Homepage</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a href="#" class="header__navigation-item">Marketplace</a>
            <a href="#" class="header__navigation-item">Chating</a>
            <a href="#" class="header__navigation-item">Cart</a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Profile</p>
                    <div class="header__links">
                        <a href="#" class="link">Profile</a>
                        <a href="/clients/logIn" class="link">Log in</a>
                        <a href="/clients/new" class="link">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main wrapper">
        <div class="main__info">
            <h1 class="main__title">
                The place of good bargains
            </h1>
            <p class="main__text text">
            <nav>Online store for your products</nav>
            <nav>Sell - Buy - Trade</nav>
            <nav>Find more than million users interested in products</nav>
            </p>
            <div class="main__button">
                <a href="../create_account/create_account.html" class="registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Get Started</p>
                </a>
            </div>
            <div class="main__characteristic">
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">$10M+</p>
                    <p class="haracteristic__text">Trade amount</p>
                </div>
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">500k+</p>
                    <p class="haracteristic__text">Total sale</p>
                </div>
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">1M+</p>
                    <p class="haracteristic__text">Salesmans</p>
                </div>
            </div>
        </div>
        <div class="main__image">
            <img src="img/image_/photo_2024-11-05_20-01-48.jpg" alt="sale__img">
        </div>
    </div>
    <div class="category wrapper">
        <div class="category__title title">
            <p>Browse Categories</p>
        </div>
        <div class="category__buttons">
            <a href="#" class="category__item">
                <img src="img/icon/PaintBrush.svg" alt="art" class="category__item-image">
                <p class="category__item-title">Art</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Swatches.svg" alt="collectibles" class="category__item-image">
                <p class="category__item-title">Collectibles</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/MusicNotes.svg" alt="music" class="category__item-image">
                <p class="category__item-title">Music</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Camera.svg" alt="photography" class="category__item-image">
                <p class="category__item-title">Photography</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/VideoCamera.svg" alt="video" class="category__item-image">
                <p class="category__item-title">Video</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/MagicWand.svg" alt="utility" class="category__item-image">
                <p class="category__item-title">Utility</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Basketball.svg" alt="sport" class="category__item-image">
                <p class="category__item-title">Sport</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Planet.svg" alt="world" class="category__item-image">
                <p class="category__item-title">Virtual Worlds</p>
            </a>
        </div>
    </div>
    <div class="how-work wrapper">
        <div class="how-work__title title">
            <p>How it works</p>
        </div>
        <div class="how-work__text text">
            <p>Find out how to get started</p>
        </div>
        <div class="how-work__cards">
            <div class="how-work__card">
                <img src="img/icon/Icon.svg" alt="wallet" class="card__img">
                <p class="card__title">Sing Up</p>
                <p class="card__text">Set up your wallet of choice. Connect it to the Animarket by clicking the wallet
                    icon.</p>
            </div>
            <div class="how-work__card">
                <img src="img/icon/Icon-1.svg" alt="wallet" class="card__img">
                <p class="card__title">Create Post</p>
                <p class="card__text">Upload your work and setup your collection. Add a description, social links and
                    floor price.</p>
            </div>
            <div class="how-work__card">
                <img src="img/icon/Icon-2.svg" alt="wallet" class="card__img">
                <p class="card__title">Start Trading</p>
                <p class="card__text">Choose between auctions and fixed-price listings. Start earning by selling your
                    NFTs or trading others.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="homepage.html" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>NFT marketplace UI created with Anima for Figma.</nav>
                <nav>Join our community</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Explore</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Marketplace</a></p>
                <p><a href="#">Chating</a></p>
                <p><a href="#">Cart</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Join our weekly digest</p>
                </div>
                <p class="footer__text">
                    Get exclusive promotions & updates straight to your inbox.
                </p>
                <a href="../create_account/create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Get Started</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>